<footer class="footer l-singleColumn">
    {{!-- <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a> --}}
    <div class="inner">
         <section class="copyright">&copy; {{date format="YYYY"}}<a href="{{@blog.url}}/">
         	{{@blog.title}}</a>  &bull; All rights reserved.
         </section>
         <div>
         	<link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
         	Medium Rare theme by Jeremy Ho
         </div>
         {{!-- <section class="poweredby">Happily published with <a class="icon-ghost" href="https://ghost.org">Ghost</a></section> --}}
    </div>
</footer>