{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="cover u-fillHeight" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="cover-main">
        <div class="cover-content l-singleColumn">
            {{#if @blog.logo}}<a class="cover-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" class="cover-logo-image" /></a>{{/if}}
            <h1 class="cover-title"><a href="">{{@blog.title}}</a></h1>
            <p class="cover-subtitle">Developer with an eye for Design, and a passion for Product</p>
            <p class="cover-description u-gray-darker">{{@blog.description}}</p>
            <div class="cover-links">
                <ul class="inlineList">
                    <li class="inlineList-item">
                        <a href="https://twitter.com/_Jeloi" class="symbol">twitterbird</a>
                    </li>
                    <li class="inlineList-item">
                        <a href="https://github.com/Jeloi" class="symbol">githubalt</a>
                    </li>
                    <li class="inlineList-item">
                        <a href="" class="symbol">dribble</a>
                    </li>
                    <li class="inlineList-item">
                        <a href="http://www.linkedin.com/in/jeremyho19/" class="symbol">linkedin</a>
                    </li>
                </ul>
            </div>
            <a href="#main" class="btn btn--green">Writing</a>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main id="main" class="content" role="main">
    <div class="bucket l-singleColumn">
        <h2 class="bucket-label">Featured</h2>
        {{#foreach posts}}
        {{#if featured}}
            {{> postItem }}
        {{/if}}
        {{/foreach}}
    </div>

    <div class="bucket l-singleColumn">
        <h2 class="bucket-label">Latest</h2>


        {{#foreach posts}}
        {{#unless featured}}
            {{> postItem }}
        {{/unless}}
        {{/foreach}}
    </div>

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>